In [3]:
install.packages("Lahman")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [4]:
install.packages("data.table")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [5]:
library("Lahman")

In [6]:
library("data.table")

In [7]:
salaries = as.data.table(Salaries)

In [8]:
salaries = salaries[, .(playerID, yearID, 
                  teamID = as.character(teamID),
                  salary)]

In [9]:
summary(salaries)

   playerID             yearID        teamID              salary
 Length:26428       Min.   :1985   Length:26428       Min.   :       0
 Class :character   1st Qu.:1994   Class :character   1st Qu.:  294702
 Mode  :character   Median :2001   Mode  :character   Median :  550000
                    Mean   :2001                      Mean   : 2085634
                    3rd Qu.:2009                      3rd Qu.: 2350000
                    Max.   :2016                      Max.   :33000000

In [16]:
salariesP <- salaries[yearID >= "2016"]

In [17]:
summary(salariesP)

   playerID             yearID        teamID              salary
 Length:853         Min.   :2016   Length:853         Min.   :  507500
 Class :character   1st Qu.:2016   Class :character   1st Qu.:  520000
 Mode  :character   Median :2016   Mode  :character   Median : 1500000
                    Mean   :2016                      Mean   : 4396410
                    3rd Qu.:2016                      3rd Qu.: 6000000
                    Max.   :2016                      Max.   :33000000

In [18]:
head(salariesP)

  playerID  yearID teamID salary
1 ahmedni01 2016   ARI     521600
2 barreja01 2016   ARI     507500
3 brachsi01 2016   ARI     509300
4 britoso01 2016   ARI     508500
5 castiwe01 2016   ARI    3700000
6 chafian01 2016   ARI     519700

In [19]:
mean(salariesP$salary)

[1] 4396410

In [20]:
mean(salariesP$salary)*25

[1] 109910240